*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 12px;               
}
  
body::-webkit-scrollbar-track {
    background: rgb(152, 152, 152);        
}
  
body::-webkit-scrollbar-thumb {
    background-color: #458FF6;    
    border-radius: 20px;      
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

a {
    text-decoration: none;
    color: white;
}

.barra {
    width: 56px;
    border-bottom: 2px solid #fff;
}

/* NAVBAR */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    background-color: #fff;
} 

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 5em;
}

.nav-menu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: grey;
}

.nav-menu a:hover {
    font-weight: 600;
    color: #2F6ABC;
}

.img-logo {
    width: 250px;
}

/* MAIN */

section#exames{
    background-color: #458FF6;
    border-radius: 0 0 30px 30px;
}

div.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
}

.h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.text {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    width: 900px;
    color: #fff;
}  

.exames-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 2em;
}

.input-container {
    display: flex;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 1.5em;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.148);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.display-none {
    display: none;
}

.display-block-btn {
    padding: 0.5em;
    display: block;
    width: 80px;
    font-size: 1em;
    background-color: #458FF6;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.315);
}

.display-block-btn:active {
    transition: .2s;
    scale: 0.95;
}

input[type=checkbox] {
    margin-right: 8px;
}

/* FORM AGENDAR */

section.form-agendar {
    background-color: #fff;
}

.h3 {
    padding-top: 1em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-agendar p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgb(118, 118, 118);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 3em;
}

.input {
    display: flex;
    align-items: center;
}

.input input {
    padding: 0.6em;
    font-size: 1em;
    border-radius: 12px;
    border: 1px solid rgb(187, 187, 187);
    width: 500px;
}

.input select {
    padding: 0.6em;
    font-size: 1em;
    border-radius: 12px;
    border: 1px solid rgb(187, 187, 187);
    width: 500px;
}

.form-img {
    padding: 0 1em;
    position: relative;
    top: 10px;
}

.label-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label-input label {
    margin-left: 6px;
}

.form-button {
    padding: 0 5em;
    margin-left: 60px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    background-color: transparent;
    cursor: pointer;

    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    color: #458FF6;
}

.form-button:hover {
    background-color: #458FF6;
    box-shadow: 0px 0px 15px #458ff6bd;
    color: #fff;
    transition: .3s;
}

.form-button:active {
    scale: 0.95;
}

.resposta {
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.1em;
}

.invalido {
    color: red;
}

.valido {
    color: green;
}

/* AGENDAMENTO */ 

#exame-agendado {
    max-height: 300px;
    display: grid;
    border-radius: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 2em;
    border-bottom: 1px solid #458FF6;
    overflow: auto;
}

.infos {
    display: flex;
    gap: 1em;
    border: 1px solid #458FF6;
    padding: 0.6em;
    color: #000000;
    border-radius: 15px;
}

/* PLANOS */

#planos {
    padding: 2em 0;
}

.plans-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 0;
}

.plan-card {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.219);
    border-radius: 20px;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    cursor: pointer;
}

.plan-card:hover {
    scale: 1.06;
    transition: .5s;
}

#plan-focus {
    background-color: #458FF6;
    color: #fff;
}

#plan-focus .benefits {
    border-bottom: 1px solid #fff;
}

#plan-focus .plan-btn {
    background-color: #fff;
    color: #458FF6;
}

.plan-title {
    font-size: 1.5em;
    font-weight: 700;
}

.price {
    font-size: 4em;
}

.benefits {
    padding: 1em 0;
    border-bottom: 1px solid #458ff680;
}

.plan-btn {
    padding: 0.8em;
    background-color: #458FF6;
    color: #fff;
    font-size: 1em;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 15px;
}

#comeback {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #458FF6;
    padding: 1em;
    text-align: center;
    font-size: 1em;
}